@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.boxText{
    background-image: linear-gradient(
  230deg,
  hsl(241deg 73% 17%) 0%,
  hsl(241deg 62% 22%) 34%,
  hsl(241deg 53% 28%) 46%,
  hsl(241deg 44% 34%) 54%,
  hsl(241deg 37% 41%) 61%,
  hsl(241deg 30% 48%) 66%,
  hsl(241deg 29% 55%) 71%,
  hsl(241deg 31% 63%) 76%,
  hsl(241deg 33% 72%) 82%,
  hsl(241deg 34% 81%) 87%,
  hsl(241deg 36% 90%) 93%,
  hsl(0deg 0% 100%) 100%
);
    padding:50px;
    text-align: initial;
}

.boxIcon{
    display: flex;
    flex-direction: row;

}

h2,h3{
    color: White;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-weight:600;
}
h3{
    font-weight:300;
}

.iconBox1{

    padding: 25px;
    border: 3px solid rgb(248, 150, 65);
    border-radius: 15px;
    margin: 10px;
    color: rgb(248, 150, 65)
}
.iconBox2{
    padding: 25px;
    border: 3px solid #4176fa;
    border-radius: 15px;
    margin: 10px;
    color: #4176fa;
}

.iconMove:hover{

    animation: iconPulse 3s ease 0s 1 normal forwards;
}

@keyframes iconPulse {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}


@media screen and (max-width:700px) {

    .boxText{
            display: flex;
            flex-direction: column;
    }
    
}

@media screen and (min-width:700px) {
    
    .boxText{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40vh;
        width: 100%;
    }

    h2{
        font-size: 4vw;
    }

}





